@using SystemsStatus.Web.Areas.Admin.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = "Login - Systems Status - SUNY Cortland";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @System.Web.Optimization.Styles.Render("~/bundles/css/bootstrap")
    @System.Web.Optimization.Styles.Render("~/bundles/css/admin-theme")
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <div style="max-width: 500px; padding: 15px; margin: 0 auto;">
            <h2>Please log in</h2>
            @using (Html.BeginForm())
            {
                @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "Username" })
                @Html.ValidationMessageFor(x => x.Username)
                @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(x => x.Password)
                <br />
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Login" />
            }
        </div>
    </div>
    
</body>
</html>