@using SystemsStatus.Core.Data.Entities
@using SystemsStatus.Web.Areas.Admin.ViewModels
@using SystemsStatus.Web.Extensions
@model Department
@{
    ViewBag.Title = Model.Name + " - Systems Status Admin - SUNY Cortland";
    Layout = "~/Areas/Admin/Views/Shared/_MasterLayout.cshtml";
    ViewBag.DashboardMenuActive = "Departments";
    ViewBag.DashboardSubMenuActive = "Edit";
}

<ol class="breadcrumb" style="margin-top: 10px;">
    <li>
        <a href="@Url.Action("Index", new { controller = "Home" })">Home</a>
    </li>
    <li>
        <a href="@Url.RouteUrl("Admin_Departments_FirstPage")">Departments</a>
    </li>
    <li class="active">Edit Department</li>
</ol>
<h1>Edit Department - @Model.Name</h1>
<p>
    Make any changes to this department and click 'Save'.
</p>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-lg-6">
            <fieldset>
                <legend>
                    Department Details
                </legend>
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelForRequired(x => x.Name, new { @class = "col-lg-3" })
                        <div class="col-lg-9">
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Enter a department name", autocomplete = "off" })
                            @Html.ValidationMessageFor(x => x.Name)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelForRequired(x => x.Code, new { @class = "col-lg-3" })
                        <div class="col-lg-2">
                            @Html.TextBoxFor(x => x.Code, new { @class = "form-control", placeholder = "Code", autocomplete = "off" })
                        </div>
                        @Html.ValidationMessageFor(x => x.Code)
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <center>
        <span class="required">*</span> indicates a required field
    </center>
    <hr />
    <div class="row" style="margin-top: 20px;">
        <div class="col-lg-12">
            <div class="well well-sm" style="overflow: auto;">
                <input type="button" class="btn btn-default pull-left" onclick="window.history.back()" value="Cancel" />
                <input type="submit" class="btn btn-success pull-right" value="Save" />
            </div>
        </div>
    </div>
}
@if (ViewBag.Saved != null)
{
<div id="modalSaved" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="modalTitle" class="modal-title">Saved</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success">
                    <h4>Success!</h4>
                    <p>
                        Department <em>@Model.Name</em> has been saved successfully!
                    </p>
                </div>
            </div>
            <div id="modalFooter" class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
}
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            @if (ViewBag.Saved != null)
            {
            <text>
            $("#modalSaved").modal("show");
            </text>
            }
        });
    </script>
}