@using SystemsStatus.Core.Data.Entities
@using SystemsStatus.Core.Data.Entities.Statuses
@using SystemsStatus.Web.ViewModels
@using SystemsStatus.Web.Extensions
@model ServicesIndexViewModel
@{
    ViewBag.Title = Model.Service.Name + " - Systems Status - SUNY Cortland";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section breadcrumb
{
<ol class="breadcrumb">
    <li>
        <a href="@Url.Action("Index", new { controller = "Home" })">Home</a>
    </li>
    <li>
        <a href="@Url.Action("AZList", new { controller = "ServiceLists" })">Services</a>
    </li>
    <li class="active">
        @Model.Service.Name
    </li>
</ol>
}
<div class="row contentContainer">
    <div class="col-md-12 contentHeader">
        <h4>
            <span class="glyphicon glyphicon-stats"></span> SUNY Cortland System Status - @Model.Service.Name
        </h4>
    </div>
    <div class="col-md-12 content">
        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-8">
                <fieldset>
                    <legend>
                        Current Status
                    </legend>
                    <p>
                        @Model.Service.Description
                    </p>
                    @if (Model.Service.CurrentStatus.GetType() == typeof(OnlineServiceStatus))
                    {
                        var currentStatus = Model.Service.CurrentStatus as OnlineServiceStatus;
                    
                        <div class="alert alert-success"> 
                            <h4 style="color: #333;">@Model.Service.Name<span class="label label-success pull-right">online</span></h4>
                        </div>
                    }
                    else if (Model.Service.CurrentStatus.GetType() == typeof(OfflineUnplannedServiceStatus))
                    {
                        var currentStatus = Model.Service.CurrentStatus as OfflineUnplannedServiceStatus;
                        <div class="alert alert-danger">
                            <h4 style="color: #333;">@Model.Service.Name<span class="label label-danger pull-right">down</span></h4>
                            <hr />
                            <strong>Cause:</strong> @currentStatus.OfflineCause
                            @if (currentStatus.ExpectedOnline.HasValue)
                            {
                            <br />
                            <strong>Expected Online:</strong> @currentStatus.ExpectedOnline.Value.ToString("dddd, MMMM d - h:mm tt")
                            }
                        </div>
                    }
                    else if (Model.Service.CurrentStatus.GetType() == typeof(OfflineMaintenanceServiceStatus))
                    {
                        var currentStatus = Model.Service.CurrentStatus as OfflineMaintenanceServiceStatus;
                        <div class="alert alert-info">
                            <h4 style="color: #333;">@Model.Service.Name<span class="label label-primary pull-right">maintenance</span></h4>
                            <hr />
                            <p>
                                <strong>Description:</strong> @currentStatus.ScheduledMaintenance.Description
                            </p>
                            <strong>Expected Offline:</strong> @currentStatus.ScheduledMaintenance.Offline.ToString("dddd, MMMM d - h:mm tt")
                            @if (currentStatus.ScheduledMaintenance.ExpectedOnline.HasValue)
                            {
                            <br />
                            <strong>Expected Online:</strong> @currentStatus.ScheduledMaintenance.ExpectedOnline.Value.ToString("dddd, MMMM d - h:mm tt")
                            }
                        </div>
                    }
                    else if (Model.Service.CurrentStatus.GetType() == typeof(OnlineDegradedServiceStatus))
                    {
                        var currentStatus = Model.Service.CurrentStatus as OnlineDegradedServiceStatus;
                        <div class="alert alert-warning">
                            <h4 style="color: #333;">@Model.Service.Name<span class="label label-warning pull-right">degraded</span></h4>
                            <hr />
                            <p>
                                <strong>Cause:</strong> @currentStatus.Cause
                            </p>
                            <strong>Degraded Since:</strong> @currentStatus.DegradedSince.ToString("dddd, MMMM d - h:mm tt")
                            @if (currentStatus.ExpectedOnline.HasValue)
                            {
                            <br />
                            <strong>Expected Normal:</strong> @currentStatus.ExpectedOnline.Value.ToString("dddd, MMMM d - h:mm tt")
                            }
                        </div>
                    }

                </fieldset>
                <fieldset>
                    <legend>
                        Status History
                    </legend>
                    @foreach (var status in Model.Statuses)
                    {
                        if (status.GetType() == typeof(OnlineServiceStatus))
                        {
                            var currentStatus = status as OnlineServiceStatus;
                    
                            <div class="dateBlock pull-left">
                                <div class="month">@currentStatus.OnlineSince.ToString("MMM")</div>
                                <div class="date">@currentStatus.OnlineSince.ToString("dd")</div>
                                <div class="year">@currentStatus.OnlineSince.ToString("yyyy")</div>
                            </div>
                            <div class="label label-success pull-right">
                                online
                            </div>
                            <p>
                                <em>@currentStatus.OnlineSince.ToString("h:mm tt")</em>
                                <br /><br />
                                @Model.Service.Name is online.
                            </p>
                        }
                        else if (status.GetType() == typeof(OfflineUnplannedServiceStatus))
                        {
                            var currentStatus = status as OfflineUnplannedServiceStatus;
                            
                            <div class="dateBlock pull-left">
                                <div class="month">@currentStatus.OfflineSince.ToString("MMM")</div>
                                <div class="date">@currentStatus.OfflineSince.ToString("dd")</div>
                                <div class="year">@currentStatus.OfflineSince.ToString("yyyy")</div>
                            </div>
                            <div class="label label-danger pull-right">
                                down
                            </div>
                            <p>
                                <em>@currentStatus.OfflineSince.ToString("h:mm tt")</em>
                                <br /><br />
                                @currentStatus.OfflineCause
                            </p>
                        }
                        else if (status.GetType() == typeof(OfflineMaintenanceServiceStatus))
                        {
                            var currentStatus = status as OfflineMaintenanceServiceStatus;

                            <div class="dateBlock pull-left">
                                <div class="month">@currentStatus.ScheduledMaintenance.Offline.ToString("MMM")</div>
                                <div class="date">@currentStatus.ScheduledMaintenance.Offline.ToString("dd")</div>
                                <div class="year">@currentStatus.ScheduledMaintenance.Offline.ToString("yyyy")</div>
                            </div>
                            <div class="label label-primary pull-right">
                                maintenance
                            </div>
                            <p>
                                <em>@currentStatus.ScheduledMaintenance.Offline.ToString("h:mm tt")</em>
                                <br /><br />
                                @currentStatus.ScheduledMaintenance.Description
                            </p>
                        }
                        else if (status.GetType() == typeof(OnlineDegradedServiceStatus))
                        {
                            var currentStatus = status as OnlineDegradedServiceStatus;
                            
                            <div class="dateBlock pull-left">
                                <div class="month">@currentStatus.DegradedSince.ToString("MMM")</div>
                                <div class="date">@currentStatus.DegradedSince.ToString("dd")</div>
                                <div class="year">@currentStatus.DegradedSince.ToString("yyyy")</div>
                            </div>
                            <div class="label label-warning pull-right">
                                degraded
                            </div>
                            <p>
                                <em>@currentStatus.DegradedSince.ToString("h:mm tt")</em>
                                <br /><br />
                                @currentStatus.Cause
                            </p>
                        }
                        <div class="clearfix"></div>
                        <hr />
                    }
                    <div class="pull-right">
                        <a href="@Url.RouteUrl("StatusHistory_FirstPage", new { serviceUrl = Model.Service.Url })" class="btn btn-sm btn-default">View All...</a>
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-4">
                <fieldset>
                    <legend>
                        Scheduled Maintenance
                    </legend>
                    @if (Model.Service.Maintenances.Count() == 0)
                    {
                    <p>
                        No upcoming scheduled maintenance for @Model.Service.Name.
                    </p>
                    }
                    @foreach (var maintenance in Model.Service.Maintenances)
                    {
                        <div style="margin-bottom: 20px;">
                            <h5 style="font-weight: bold;">
                                Maintenance
                            </h5>
                            <p>
                                @maintenance.Description
                            </p>
                            <p>
                                <em>Offline</em>: @maintenance.Offline.ToString("MM/dd/yyyy hh:mm tt")
                                @if (maintenance.ExpectedOnline.HasValue)
                                {
                                    <text>
                                    <br />
                                    <em>Expected Online</em>: 
                                    </text>
                                    @maintenance.ExpectedOnline.Value.ToString("MM/dd/yyyy hh:mm tt")
                                }
                            </p>
                        </div>
                    }
                </fieldset>
            </div>
        </div>
    </div>
</div>
@section scripts
{

}