@using SystemsStatus.Core.Data.Entities
@using SystemsStatus.Common.Pagination
@using SystemsStatus.Web.Extensions
@model IPagedList<Widget>

@{
    ViewBag.Title = "My Widgets - Systems Status Admin - SUNY Cortland";
    Layout = "~/Areas/Admin/Views/Shared/_MasterLayout.cshtml";
    ViewBag.DashboardMenuActive = "Account";
    ViewBag.DashboardSubMenuActive = "My Widgets";
}

<ol class="breadcrumb" style="margin-top: 10px;">
    <li>
        <a href="@Url.Action("Index", new { controller = "Home" })">Home</a>
    </li>
    <li>
        <a href="@Url.Action("Index", new { controller = "Account" })">Account</a>
    </li>
    <li class="active">My Widgets</li>
</ol>
<h1>My Widgets</h1>
<div class="row">
    <div class="col-lg-6" style="line-height: 30px;">
        <div class="pull-left">
            <p>
                Showing widgets (@Model.ItemStart - @Model.ItemEnd) of @Model.TotalItemCount
            </p>
        </div>
    </div>
</div>
@if (Model.Count() == 0)
{
    <p>
        You are currently not owner of any widgets. To create a widget click on Account -> Create Widget.
    </p>
}
else
{
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th style="width: 50%;">Name</th>
            <th style="width: 40%;">Id</th>
            <th style="width: 10%;">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var widget in Model)
        {
            <tr>
                <td>@widget.Name</td>
                <td>@widget.Guid</td>
                <td style="text-align: center;">
                    <a href="@Url.Action("EditWidget", new { controller = "Account", id = widget.Id.Value })" class="btn btn-xs btn-default" title="Edit Widget"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="@Url.Action("DeleteWidget", new { controller = "Account", id = widget.Id.Value })" class="btn btn-xs btn-danger btnDeleteWidget" title="Delete Widget"><span class="glyphicon glyphicon-remove"></span></a> 
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o.DisplayTemplate("_BootstrapPagination"))  
}
<div id="confirmDeleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div id="modalBody" class="modal-body">
                Are you sure you want to delete this widget?
            </div>
            <div id="modalFooter" class="modal-footer">
                <a href="#" id="btnConfirmDelete" class="btn btn-md btn-default">Delete</a>
                <a href="#" class="btn btn-md btn-danger" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".btnDeleteWidget").on("click", function (e) {
                e.preventDefault();

                $("#btnConfirmDelete").attr("href", $(this).attr("href"));

                $("#confirmDeleteModal").modal("show");
            });
        });
    </script>
}